# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)   #empty dictionary

dict

In [2]:
data1=dict()  #empty dictionary
type(data1)

dict

In [3]:
data={'alabama':'montgomery',
     'arizona': 'phoenix',
     'goergia': 'atlanta',
     'kentucky': 'frankfort',
     'ohio': 'salem'}   #key:value

In [4]:
print(data)

{'alabama': 'montgomery', 'arizona': 'phoenix', 'goergia': 'atlanta', 'kentucky': 'frankfort', 'ohio': 'salem'}

In [5]:
type(data)

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [6]:
data={'alabama':'montgomery',
     'arizona': 'phoenix',
     'goergia': 'atlanta',
     'kentucky': 'frankfort',
     'ohio': 'salem'}   #key:value

In [7]:
data['kentucky']

'frankfort'

In [8]:
data['alabama']

'montgomery'

In [9]:
data['louisiana']

KeyError: 'louisiana'

### Update elements of a dictionary and add new elements

In [12]:
day={1: 'monday',
    2: 'tuesday',
    4: ['thursday', 'friday'],
    5: ('saturday', 'sunday')}

In [13]:
day[1]

'monday'

In [14]:
day[4][1]  #[key][index]

'friday'

In [15]:
day[5][0]

'saturday'

### Update. You can update values  but key is unique and immutable

In [16]:
#update sunday to holiday
day[5][1]='holiday' # Cannot update a tuple

TypeError: 'tuple' object does not support item assignment

In [17]:
#Update thursday to holiday
day[4][0]='holiday'
print(day)

{1: 'monday', 2: 'tuesday', 4: ['holiday', 'friday'], 5: ('saturday', 'sunday')}

In [18]:
#update monday to holiay
day[1]='holiday'
print(day)

{1: 'holiday', 2: 'tuesday', 4: ['holiday', 'friday'], 5: ('saturday', 'sunday')}

### `get` and `update` methods

In [19]:
data

{'alabama': 'montgomery',
 'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

In [20]:
data.get('arizona') #.get() looking for key to return the value

'phoenix'

In [21]:
data.get('louisiana') # .get() DOES NOT GENERATE ERROR THATS THE DIFFERENCE BETWEEN IT AND ACCESSING ELEMENT BY KEY

In [22]:
# update old value to new and add new key value pair
print(data)
data.update({'kentucky':'louisville', 'louisiana':'baton rouge'})

{'alabama': 'montgomery', 'arizona': 'phoenix', 'goergia': 'atlanta', 'kentucky': 'frankfort', 'ohio': 'salem'}

In [23]:
print(data)

{'alabama': 'montgomery', 'arizona': 'phoenix', 'goergia': 'atlanta', 'kentucky': 'louisville', 'ohio': 'salem', 'louisiana': 'baton rouge'}

In [24]:
data.update({'Alabama': 'montgomery'})  #Only way to update key
print(data)

{'alabama': 'montgomery', 'arizona': 'phoenix', 'goergia': 'atlanta', 'kentucky': 'louisville', 'ohio': 'salem', 'louisiana': 'baton rouge', 'Alabama': 'montgomery'}

### Delete dictionary items using `del` and `pop`

In [25]:
data
del data['alabama']

In [26]:
data

{'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'louisville',
 'ohio': 'salem',
 'louisiana': 'baton rouge',
 'Alabama': 'montgomery'}

In [27]:
data

{'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'louisville',
 'ohio': 'salem',
 'louisiana': 'baton rouge',
 'Alabama': 'montgomery'}

In [28]:
deleted_capital=data.pop('Alabama')
print("Deleted capital is: ", deleted_capital)
print(data)

Deleted capital is:  montgomery
{'arizona': 'phoenix', 'goergia': 'atlanta', 'kentucky': 'louisville', 'ohio': 'salem', 'louisiana': 'baton rouge'}

In [29]:
data

{'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'louisville',
 'ohio': 'salem',
 'louisiana': 'baton rouge'}

In [30]:
del data #dictionary Deleted

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [31]:
data={'alabama':'montgomery',
     'arizona': 'phoenix',
     'goergia': 'atlanta',
     'kentucky': 'frankfort',
     'ohio': 'salem'}   #key:value

In [32]:
# number of element/value in a dictionary
len(data)

5

In [33]:
#extracting only keys
print(data.keys())

dict_keys(['alabama', 'arizona', 'goergia', 'kentucky', 'ohio'])

In [34]:
#extracting values
print(data.values())

dict_values(['montgomery', 'phoenix', 'atlanta', 'frankfort', 'salem'])

In [35]:
#item/ key value pair
print(data.items())
type(data.items())

dict_items([('alabama', 'montgomery'), ('arizona', 'phoenix'), ('goergia', 'atlanta'), ('kentucky', 'frankfort'), ('ohio', 'salem')])

dict_items


### Loop through a dictionary

In [36]:
data

{'alabama': 'montgomery',
 'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

In [37]:
# loop thrugh the dictionary keys
for i in data.keys(): # unpack dict items
    print(i)
    print(type(i))

alabama
<class 'str'>
arizona
<class 'str'>
goergia
<class 'str'>
kentucky
<class 'str'>
ohio
<class 'str'>

In [38]:
# Loop through the values
for j in data.values():
    print("The capital is",j)

The capital is montgomery
The capital is phoenix
The capital is atlanta
The capital is frankfort
The capital is salem

In [39]:
#loooping through items
for i in data.items():
    print(i)
    print(type(i))

('alabama', 'montgomery')
<class 'tuple'>
('arizona', 'phoenix')
<class 'tuple'>
('goergia', 'atlanta')
<class 'tuple'>
('kentucky', 'frankfort')
<class 'tuple'>
('ohio', 'salem')
<class 'tuple'>

In [40]:
#tuplem unpacking
for i,j in data.items():
    print("State",i, "Capitol: ",j)
    print(type(i),type(j))

State alabama Capitol:  montgomery
<class 'str'> <class 'str'>
State arizona Capitol:  phoenix
<class 'str'> <class 'str'>
State goergia Capitol:  atlanta
<class 'str'> <class 'str'>
State kentucky Capitol:  frankfort
<class 'str'> <class 'str'>
State ohio Capitol:  salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [41]:
data

{'alabama': 'montgomery',
 'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

In [42]:
list(data.values())

['montgomery', 'phoenix', 'atlanta', 'frankfort', 'salem']

In [43]:
tuple(data.keys())

('alabama', 'arizona', 'goergia', 'kentucky', 'ohio')

In [44]:
data

{'alabama': 'montgomery',
 'arizona': 'phoenix',
 'goergia': 'atlanta',
 'kentucky': 'frankfort',
 'ohio': 'salem'}

### A List in a Dictionary

In [45]:
favlang={'Jen':['Python','ruby'],
        'Sarah':['C'],
        'Edward': ['ruby','Java'],
        'Phil': ['Python', 'Haskell']}

In [49]:
for name, languages in favlang.items():
    print("\n"+name.title()+"\'s favorite languages are:")
    #print(languages)
    for i in languages:
        print("\t\t\t\t"+i.title())

Jen's favorite languages are:
				Python
				Ruby

Sarah's favorite languages are:
				C

Edward's favorite languages are:
				Ruby
				Java

Phil's favorite languages are:
				Python
				Haskell

###  A Dictionary in a Dictionary

In [52]:
user={'einstein':{'first':'albert',
                 'last':'einstein',
                 'location':'princeton',},
     'mcurie':{'first':'marie',
               'last':'curie',
               'location': 'paris'}}

In [53]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [54]:
for username, userinfo in user.items():
    print('\nUser Name: ', username)
    fullname=userinfo['first']+" "+userinfo['last']
    location=userinfo['location']
    print("The full name is: "+fullname.title())
    print("The location: ", location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris